<div class="">
  <mat-table [dataSource]="tableData" class="" matSort>
    <ng-container *ngIf="useCheckboxColumn" matColumnDef="checkboxColumn">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-checkbox [(ngModel)]="checkboxColumnHeaderValue" (change)="selectAll()" color="primary"></mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index">
          <mat-checkbox [(ngModel)]="checkboxColumnData[i]" (change)="select()" color="primary"></mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.fieldName">
      <ng-container [ngSwitch]="column.filterType">
        <ng-container *ngSwitchCase="'none'">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.title }} </mat-header-cell>
        </ng-container>
        <ng-container *ngSwitchCase="'select'">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-form-field>
              <mat-label> {{ column.title }} </mat-label>
              <mat-select (valueChange)="columnSelectFilter($event, column.fieldName)">
                <mat-option [value]="">-</mat-option>
                <mat-option *ngFor="let option of column.filterSelectOptions" [value]="option.value"> {{ option.title }} </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-header-cell>
        </ng-container>
        <ng-container *ngSwitchCase="'input'">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <mat-form-field>
                <input matInput (keyup)="columnInputFilter($event.target.value, column.fieldName)" [placeholder]="column.title">
              </mat-form-field>
            </mat-header-cell>
        </ng-container>
      </ng-container>

      <mat-cell *matCellDef="let row">
          <ng-container [ngSwitch]="column.type">
              <ng-container *ngSwitchCase="'checkbox'">
                  <mat-checkbox [(ngModel)]="row[column.fieldName]"
                            [disabled]="'true'">
                  </mat-checkbox>
              </ng-container>
              <ng-container *ngSwitchCase="'buttons'">
                  <mat-icon  *ngFor="let button of column.buttons"
                            (click)="button.callback($event, row)"
                            [matTooltip]="button.tooltip"
                            class="button basic-fill-color">
                    {{ button.icon }}
                  </mat-icon>
              </ng-container>
              <ng-container *ngSwitchCase="'image'">
                  <mat-icon [color]="getImage(row, column).color" [matTooltip]="getImage(row, column).title" class="button basic-fill-color">
                      {{ getImage(row, column).icon }}
                  </mat-icon>
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{ row[column.fieldName] }}
              </ng-container>
          </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="paginatorOptions.length" [pageSize]="paginatorOptions.pageSize"
                  [pageSizeOptions]="paginatorOptions.pageSizeOptions" [color]="paginatorOptions.color"
                  [disabled]="paginatorOptions.hidePageSize" [hidePageSize]="paginatorOptions.hidePageSize"
                  [pageIndex]="paginatorOptions.pageIndex" [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                  [class.paginator-position-left]="paginatorOptions.position=='left'"
                  [class.paginator-position-center]="paginatorOptions.position=='center'"
                  [class.paginator-position-right]="paginatorOptions.position=='right'">
  </mat-paginator>
</div>