table, mat-table {
    width: 100%;

    mat-header-cell {
        margin-right: 5px;
    }
}

.button {
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
}

:host ::ng-deep .paginator-position-left {
    .mat-paginator-container {
        justify-content: flex-start !important;
    }
}

:host ::ng-deep .paginator-position-center {
    .mat-paginator-container {
        justify-content: center !important;
    }
}

:host ::ng-deep .paginator-position-right {
    .mat-paginator-container {
        justify-content: flex-end !important;
    }
}